body{
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
}
.top-part{
    background-color: black;
    color: aqua;
    background-position: ;
    display: flex;
}
.left-part{
    width: 45%;
    padding-left: 10%;
}
.right-part{
    width: 45%;
}
h1{
    font-size: 100px ;
}
.middle-part{
    background-color: gray;
}
